executor = 'pbspro'
conda.createTimeout = '1h'

params {
  help = false
  name = false
  input = "input/*.{bam,bai}"
  parents = "parents"
  ped = "samples.ped"
  output = "output"
  reference = "hg38.fa"
  indelible = "/path/to/indelible/env"
  config = "/path/to/indelible/config"
  suffix = ""
  denovo = false
}

process {

  beforeScript = """
  export PATH=$PATH:/home/u035/project/software/bcbio/tools/bin:/home/u035/project/software/ncbi-blast-2.10.1+/bin
  source ${params.indelible}/venv/bin/activate
  """

  afterScript = """
  deactivate
  """

}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
}
