executor = 'pbspro'
conda.createTimeout = '1h'

params {
  help = false
  name = false
  input = "samples.txt"
  ped = "samples.ped"
  output = "output"
  reference = "hg38.fa"
  indelible = "/path/to/indelible/env"
  config = "/path/to/indelible/config"
}

process {

}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
}
